body {
    background: black url("star-wars-wallpaper-10.jpg") no-repeat center;
    height: 1080px;
    color: yellow;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header {
    padding: 20px;
}

.centered {
    text-align: center;
}


.character-box {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 150px;
}

.character-tag {
    text-align: center;
    font: 14px arial, sans-serif;
    padding: 2px;
    margin: 2px;
    color: grey;
    text-shadow: none;
}

#characters-box, #enemies-box {
    width: 85%;
    margin: auto;
}

#attack-button-box {
    padding: 20px;
    width: 100px;
    margin: auto;
}

#player-character-box {
    width: 156px;
    margin: auto;
}

#defender-box {
    width: 156px;
    margin: auto;
}

#combat-log {
    font-size: 12px;
}