body {
    background: black url("star-wars-wallpaper-10.jpg") no-repeat center;
    height: 1080px;
    color: yellow;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    padding: 5px;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 48px;
}

.centered {
    text-align: center;
    margin: 5px;
}


.character-box {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 150px;
}

.character-tag {
    text-align: center;
    font: 14px arial, sans-serif;
    padding: 2px;
    margin: 2px;
    color: grey;
    text-shadow: none;
}

#characters-box, #enemies-box {
    width: 625px;
    margin: auto;
}

#attack-button-box {
    padding: 10px;
    width: 100px;
    margin: auto;
}

#player-character-box {
    width: 156px;
    margin: auto;
}

#defender-box {
    width: 156px;
    margin: auto;
}

#combat-log {
    font-size: 17px;
}